<div class="news">
  <h2>News</h2>
  {% if site.news != blank %}
    {%- assign news_size = site.news | size -%}
    {%- assign news = site.news | reverse -%}
    {% if site.news_limit %}
      {% assign news_limit = site.news_limit %}
    {% else %}
      {% assign news_limit = news_size %}
    {% endif %}
    <div class="{% if site.news_scrollable and news_size > 3 %}news-scroll{% endif %}">
      <ol class="news-list">
        {% for item in news limit: news_limit %}
          {% case item.type %}
            {% when 'award' %}{% assign news_icon = 'fa-medal' %}
            {% when 'accepted' %}{% assign news_icon = 'fa-bookmark' %}
            {% when 'preprint' %}{% assign news_icon = 'fa-file-alt' %}
            {% when 'feature' %}{% assign news_icon = 'fa-newspaper' %}
            {% else %}{% assign news_icon = 'fa-circle' %}
          {% endcase %}
          <li class="news-item news-item--{{ item.type | default: 'note' }}">
            <time class="news-date" datetime="{{ item.date | date_to_xmlschema }}">
              <i class="fas {{ news_icon }} news-icon" aria-hidden="true"></i>{{ item.date | date: "%b %-d, %Y" }}
            </time>
            <div class="news-content">
              {% if item.inline -%}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {%- else -%}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {%- endif %}
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
